tests/test1
Makefile
CMakeFiles
CMakeCache
CMakeCache.txt
.cmake
cmake_install
# Prerequisites
*.d
build

loopbackfile*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
